body{

}


img {
    width: 144px;
    height: 87px;
    margin-left: 14px;
    margin-right: 14px;
    margin-top: 18px;
    border-radius: 4px;
}


.conteiner{
    width: auto;
    max-height: auto;
    margin-bottom: 92px;
    margin-top: 92px;
}

.head-menu{
    width: 414px;
    height: 92px;
    background-color: #CF2B2B;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.40));
    
}

.head-menu h1{
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 44px;
    color:#FFFFFF;
    padding-left: 21px;
}
.head-menu h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color:#FFFFFF;
    padding-left: 21px;
}

.menu-max{
    height: auto;
    width: auto;
}
.menu-max h1{
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 26px;
    padding-top: 31px;
    margin-left: 19px;
}
.menu{
    height: 316px;
    width: 414px;
    background-color: #E5E5E5;
    flex-wrap: nowrap;
}
.itens-food{
    display: flex;
    height: auto;
    width: 414px;
    margin-top: 17px;
    overflow-x: scroll;
    overflow-y: hidden;
    
}

.itens-drink{
    display: flex;
    height: auto;
    width: 414px;
    margin-top: 17px;
    overflow-x: scroll;
    overflow-y: hidden;
    
}
.itens-dessert{
    display: flex;
    height: auto;
    width: 414px;
    margin-top: 17px;
    overflow-x: scroll;
    overflow-y: hidden;

}

.produto{
    width: 172px;
    height: 216px;
    background-color: white;
    margin-left: 19px;
    border-radius: 9px;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.20));
    position: relative;
}
.produto:hover{
    cursor: pointer;}


.foot-menu{
    width: 414px;
    height: 92px;
    background-color: white;
    position: fixed;
    bottom: 0;
    left: 0;
}

.button {
    width:364px ;
    height:61px ;
    border-radius: 50px;
    background-color: #CBCBCB;
    margin-top: 15px;
    margin-bottom: 16px;
    margin-left: 25px;
    margin-right: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.button-green {
    width:364px ;
    height:61px ;
    border-radius: 50px;
    background-color: #32B72F;
    margin-top: 15px;
    margin-bottom: 16px;
    margin-left: 25px;
    margin-right: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    
}
.button-green:hover{
    cursor: pointer;
}
.desativado{
    display: none;

}
.texto-up{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color:#333333;
    margin-left: 15px;
    margin-top: 8px;
}
.texto-md1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 15px;
    color:#A6A6A6;
    margin-left: 15px;
    margin-top: 10px;
}
.texto-md2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 15px;
    color:#A6A6A6;
    margin-left: 15px;
    margin-top: 5px;
}

.texto-bt{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color:#000000;
    margin-left: 15px;
    margin-top: 12px;
}
.texto-bt7{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color:#000000;
    margin-left: 15px;
    margin-top: 12px;
}
.texto-1{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color:#FFFFFF;
}
.icone{
    bottom: 5px;
    right: 15px;
    position: absolute;
    font-size: 20px;
    color:transparent;
}
.marcador1>ion-icon{
    color:#32B72F;
}

.marcador1{
    border: 3px solid #32B72F;
    box-sizing: border-box;
}
.marcador2>ion-icon{
    color:#32B72F; 
}
.marcador2{
    border: 3px solid #32B72F;
    box-sizing: border-box;
}
.marcador3>ion-icon{
    color:#32B72F;
}
.marcador3{
    border: 3px solid #32B72F;
    box-sizing: border-box;
}
